button.learn-more {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  button.learn-more:hover .circle {
    width: 240px;
    border-radius: 1.625rem;
    background: #000;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 30;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text {
    color: #fff;
  }
  
  .button-free {
    width: 170px;
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid #4f4f4f;
    border-radius: 6px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .button-free:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-free:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #E94A1F;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-free:hover {
    color: #fff;
    border: 1.5px solid #7fdaf4;
    background: #7fdaf4;
  }
  
  .button-free:hover:before {
    top: -35%;
    background-color: #7fdaf4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-free:hover:after {
    top: -45%;
    background-color: #7fdaf4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-pro {
    width: 170px;
    display: inline-block;
    padding: 8px 20px;  
    border: 2px solid #4f4f4f;
    border-radius: 6px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .button-pro:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-pro:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #7fdaf4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-pro:hover {
    color: #fff;
    border: 1.5px solid #7fdaf4;
    background: #7fdaf4;
  }
  
  .button-pro:hover:before {
    top: -35%;
    background-color: #7fdaf4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-pro:hover:after {
    top: -45%;
    background-color: #7fdaf4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-plas {
    width: 170px;
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid #4f4f4f;
    border-radius: 6px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .button-plas:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-plas:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #7fdaf4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-plas:hover {
    color: #fff;
    border: 1.5px solid #7fdaf4;
    background: #7fdaf4;
  }
  
  .button-plas:hover:before {
    top: -35%;
    background-color: #7fdaf4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-plas:hover:after {
    top: -45%;
    background-color: #7fdaf4;  
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  details > div {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.4s, padding 0.3s;
    will-change: max-height, opacity, padding;
  }
  
  details[open] > div {
    max-height: 500px;
    opacity: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.4s, padding 0.3s;
  } 